* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

header {
  background-color: orange;
  width: 100%;
  padding: 10px 0;
}

header .row {
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  max-width: 960px;
  margin: 0 auto;
}

.title h2, .title p {
  margin: 8px 0px;
}

.card {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
}

.card-description {
  padding: 10px 20px;
}

.card-description h3, .card-description p {
  margin: 12px 0;
}

@media only screen and (min-width: 640px) {
  .card {
    margin-bottom: 0px;
  }
}
